.team{
    padding: 170px 0 50px 0;
    @include phones{
        padding: 40px 0 20px 0;
    }
    &__title{
        text-align: center;
        margin-bottom: 50px;
        @include phones{
            margin-bottom: 10px;
        }
    }
    &__desc{
        font-weight: 500;
        line-height: 30px;
        opacity: .5;
        text-align: center;
        margin-bottom: 50px;
        @include phones{
            font-size: 12px;
            line-height: 20px;
            margin-bottom: 40px;
        }
    }
    &__list{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-left: -45px;
        margin-top: -50px;
        &:not(:last-child){
            margin-bottom: 100px;
            @include phones{
                margin-bottom: 40px;
            }
        }
        @include tablets{
            margin-left: -25px;
        }
        &_second{
            @include tablets{
                display: none;
            }
        }
    }
    &__item{
        margin-left: 45px;
        margin-top: 50px;
        &_mobile{
            display: none;
            @include tablets{
                display: flex;
            }
        }
        @include tablets{
            margin-left: 25px;
        }
    }
}