.card{
    position: relative;
    display: flex;
    border-radius: 20px;
    background-color: $white-color;
    @include tablets{
        flex-direction: column;
    }
    &__pic{
        width: 500px;
        height: 700px;
        @include tablets{
            width: 100%;
            height: initial;
            margin-top: -120px;
            display: flex;
            justify-content: center;
        }
    }
    &__content{
        flex: 1;
        padding: 100px 100px 100px 50px;
        @include tablets{
            padding: 0 40px 50px 40px;
        }
        @include phones{
            padding: 0 20px 30px 20px;
        }
    }
    &__title{
        margin-bottom: 50px;
        @include tablets{
            text-align: center;
            margin-bottom: 30px;
        }
        @include phones{
            margin-bottom: 10px;
        }
    }
    &__desc{
        margin-bottom: 40px;
        font-size: 14px;
        line-height: 30px;
        @include phones{
            font-size: 12px;
            line-height: 20px;
        }
    }
    &__text{
        margin-bottom: 10px;
    }
}