@use "sass:map";

$styles: (
    'violet': #B54ADB, 
    'orange': #F7C032, 
    'blue': #33A8E5,
    'green': #81FF95,
    'turquoise': #40FFF4
);

.card-resume{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 208px;
    @include phones{
        width: 135px;
    }
    &_custom{
        .card-resume__photo{
            border-radius: 23px;
            padding: 5px;
        }
    }
    &_small{
        width: 165px;
        @include phones{
            width: 100px;
        }
        .card-resume__name{
            font-size: inherit;
            @include phones{
                font-size: 12px;
                line-height: 20px;
            }
        }
    }
    &_big{
        width: 280px;
        @include phones{
            width: 130px;
        }
        .card-resume__name{
            line-height: 40px;
            order: 1;
        }
        .card-resume__occ{
            font-weight: 500;
            order: 2;
            @include phones{
                font-size: 12px;
                line-height: 20px;
            }
        }
        .card-resume__text{
            order: 3;
        }
    }
    @each $style, $color in $styles {
        &_accent_#{$style} {
            .card-resume__photo{
                background: linear-gradient($color 0%,
                rgba(181, 74, 219, 0) 75.96%);
            }
            &.card-resume_big{
                .card-resume__occ{
                    color: $color;
                }
            }
        }
    }
    &__photo{
        margin-bottom: 30px;
        overflow: hidden;
        width: 100%;
        height: 100%;
        @include phones{
            margin-bottom: 10px;
        }
    }
    &__img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
        border-radius: 20px;
        border: 5px solid $white-color;
    }
    &__desc{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    &__name{
        font-size: 21px;
        line-height: 40px;
        font-weight: 700;
        white-space: nowrap;
        @include phones{
            font-size: 12px;
            line-height: 20px;
            order: 2;
            white-space: initial;
        }
    }
    &__occ{
        font-size: 14px;
        color: rgba($base-color, .25);
        @include phones{
            font-size: 12px;
            line-height: 20px;
            order: 1;
        }
    }
    &__text{
        font-size: 14px;
        line-height: 20px;
        margin-top: 10px;
        @include phones{
            font-size: 12px;
            line-height: 20px;
        }
    }
}