.header{ 
    position: relative;
    z-index: 999;
    background: $white-color;
    box-shadow: 0px 20px 30px -20px rgba(11, 27, 38, 0.05);
    padding: 20px 0;
    @include laptops{
        background: transparent;
        padding: 40px 0 0 0;
        box-shadow: none;
    }
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include laptops{
            justify-content: center;
        }
    }
    &__logo{
        width: 88px;
        height: 80px;
    }
    &__menu{
        @include laptops{
            display: none;
        }
    }
}