include ../components/card.pug

section.overview
    .container
        +card(
            'men.png', 
            data.overview.title, 
            data.overview.desc,
            data.socials
        )(data-to="overview")