include ../components/card-info.pug

section.roadmap(id="roadmap")
    .container
        h2.title.title_color_violet.roadmap__title= data.roadmap.title
        .roadmap__content
            .roadmap__quarter(data-icon="planet_1")
                h3.roadmap__year.roadmap__year_completed
                    span= data.roadmap.year_1
                .roadmap__item
                    +card-info(data.roadmap.cards[0])
            .roadmap__quarter(data-icon="planet_2")
                h3.roadmap__year
                    span= data.roadmap.year_2
                ul.roadmap__list(data-slide)
                    each item in data.roadmap.cards.slice(1)
                        li.roadmap__item
                            +card-info(item)

