section.tokenomics 
    .container.tokenomics__container
        h2.title.tokenomics__title(data-to="tokenomics")= data.tokenomics.title
        .chart 
            img.chart__img(src="./images/chart.jpg", alt="chart")
            img.chart__img.chart__img_mob(src="./images/chart_mob.jpg", alt="chart")