extends ./layout.pug
include ./mixins.pug

block head
    title= data.title
    link(rel="stylesheet", href="./style.css")
    link(rel="shortcut icon", href="./images/favicon.ico", type="image/x-icon")

block sections
    include ./components/header.pug
    include ./sections/intro.pug
    include ./sections/overview.pug
    include ./sections/roadmap.pug
    include ./sections/tokenomics.pug
    .maincontent__gradient 
        include ./sections/team.pug
        include ./sections/advisors.pug
    include ./sections/partners.pug
    include ./sections/footer.pug

block footer
    script(src="./index.js") 