doctype html
include ./vars.pug
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, maximum-scale=1")
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        block head
    body
        .wrapper
            main.maincontent
                block sections
        block footer