- 
    var data = {
        title: 'Plant Harvest Earn Repeat',
        header: {
            menu: [
                {
                    href: '#',
                    text: 'Overview'
                },
                {
                    href: '#',
                    text: 'Roadmap'
                },
                {
                    href: '#',
                    text: 'Tokenomics'
                },
                {
                    href: '#',
                    text: 'Team & Advisors'
                },
                {
                    href: '#',
                    text: 'Partners'
                }
            ],
            links: [
                {
                    href: '#',
                    text: 'Whitepaper'
                },
                {
                    href: '#',
                    text: 'Pitch Deck'
                },
            ]
        },
        intro: {
            title: 'Plant Harvest Earn Repeat',
            desc: 'My Little Planet is the first hybrid casual metaverse where you play and earn money!',
            learn: 'Learn More',
            whitepaper: 'Whitepaper'
        },
        overview: {
            title: 'Overview',
            desc: [
                "You own planets to grow various organics. Each planet is better adapted to a specific species, so you can own different planets and grow grass, trees or stones there.",
                "Complete orders and exchanges resources with other players to receive in-game tokens that can be spent on equipment or other upgrades that increase in-game income.",
                "You are the owner of the farm and the planet in general, personally extracting resources by special technologies and this is what differentiates the game from the other similar farming simulators and takes the players' attention.",
                "We not only consider that Play-To-Earn games are fun to play, but we also believe that the gameplay is able to keep your interest for a long time.",
                "We're making a metaverse of hybrid-casual games and the first one is My Little Planet!"
            ]
        },
        socials: [
            {
                icon: 'telegram'
            },
            {
                icon: 'discord'
            },
            {
                icon: 'twitter'
            },
            {
                icon: 'medium'
            },
            {
                icon: 'youtube'
            }
        ],
        roadmap: {
            title: 'Roadmap',
            cards: [
                {
                    title: 'Q3 2021',
                    texts: [
                        'Donec quis diam sit amet leo porttitor dictum',
                        'Ut semper nec mauris nec facilisis',
                        'Duis lorem magna, pulvinar id finibus eget, vehicula id leo'
                    ]
                },
                {
                    title: 'Q4 2021',
                    isActive: true,
                    texts: [
                        'Aenean mollis dui massa',
                        'Molestie orci dapibus sit amet',
                        'Praesent sodales viverra libero, vitae dignissim dolor feugiat ut',
                        'Fusce ultricies libero',
                        'Sollicitudin tincidunt id quis nisl'
                    ]
                },
                {
                    title: 'Q1 2022',
                    texts: [
                        'Integer facilisis quis mauris quis scelerisque',
                        'Proin at mollis odio',
                        'Quisque ultrices hendrerit augue ut dapibus',
                        'Curabitur vitae ante mauris',
                        'Nulla pretium ante magna, et congue mauris varius id',
                        'Suspendisse nec mattis lectus',
                        'Etiam id vestibulum'
                    ]
                },
                {
                    title: 'Q2 2022',
                    texts: [
                        'In facilisis luctus facilisis',
                        'Duis et accumsan nisi',
                        'Porttitor hendrerit mi',
                        'Suspendisse vitae turpis erat',
                        'Curabitur dapibus dui a metus eleifend, et facilisis orci consequat',
                        'Class aptent taciti sociosqu litora'
                    ]
                }
            ]
        },
        team: {
            title: 'Team',
            items: [
                {
                   photo: 'avatar.png',
                   name: 'Lorem Ipsum',
                   occ: 'Founder'
                },
                {
                    photo: 'avatar.png',
                    name: 'Lorem Ipsum',
                    occ: 'Founder'
                },
                {
                    photo: 'avatar.png',
                    name: 'Lorem Ipsum',
                    occ: 'Founder'
                },
                {
                    photo: 'avatar.png',
                    name: 'Lorem Ipsum',
                    occ: 'Founder'
                },
                {
                    photo: 'avatar.png',
                    name: 'Lorem Ipsum',
                    occ: 'Founder'
                },
                {
                    photo: 'avatar.png',
                    name: 'Lorem Ipsum',
                    occ: 'Founder'
                },
                {
                    photo: 'avatar.png',
                    name: 'Lorem Ipsum',
                    occ: 'Founder'
                }
            ]
        },
        advisors: {
            title: 'Advisors',
            items: [
                {
                   photo: 'avatar.png',
                   name: 'Lorem Ipsum',
                   occ: 'Founder',
                   desc: 'Mauris eu accumsan sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae'
                },
                {
                    photo: 'avatar.png',
                    name: 'Lorem Ipsum',
                    occ: 'Founder',
                    desc: 'Mauris eu accumsan sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae'
                },
                {
                    photo: 'avatar.png',
                    name: 'Lorem Ipsum',
                    occ: 'Founder',
                    desc: 'Mauris eu accumsan sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae'
                },
                {
                    photo: 'avatar.png',
                    name: 'Lorem Ipsum',
                    occ: 'Founder',
                    desc: 'Mauris eu accumsan sapien. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae'
                }
            ]
        },
        partners: {
            title: 'Partners',
            desc: 'Praesent ultrices eros vestibulum, ornare nibh ac, pretium sem. Vestibulum nunc arcu, scelerisque non viverra eget, dictum quis risus. Suspendisse potenti. Nam vestibulum laoreet est.',
            items: [1, 1, 1, 1, 1, 2, 2, 2, 2, 1, 1, 1, 1, 1]
        },
        footer: {
            slogan: 'My Little Planet',
            menu_1: [
                {
                    href: '#',
                    text: 'About Us'
                },
                {
                    href: '#',
                    text: 'Team'
                },
                {
                    href: '#',
                    text: 'Partners'
                }
            ],
            menu_2: [
                {
                    href: '#',
                    text: 'Roadmap'
                },
                {
                    href: '#',
                    text: 'Tokenomics'
                },
                {
                    href: '#',
                    text: 'Whitepaper'
                },
                {
                    href: '#',
                    text: 'Pitch Deck'
                }
            ],
            form: {
                title: 'Subscribe our Newsletter',
                placeholder: 'Your email',
                submit: 'Subscribe'
            },
            socials: [
                {
                    icon: 'telegram-white'
                },
                {
                    icon: 'discord-white'
                },
                {
                    icon: 'twitter-white'
                },
                {
                    icon: 'youtube-white'
                },
                {
                    icon: 'medium-white'
                }
            ]
        },
        copyright: '&copy; 2020-2021 My Little Planet Limited. All rights reserved',
        policy: 'Be sure to taka a look at our<br> <a class="link" href="#">Terms of Use</a> and <a class="link" href="#">Privacy Policy</a>',
        email: 'support@mlttlplnt.io'
    }