- 
    var data = {
        title: 'Plant Harvest Earn Repeat',
        header: {
            menu: [
                {
                    href: '#overview',
                    text: 'Overview'
                },
                {
                    href: '#roadmap',
                    text: 'Roadmap'
                },
                {
                    href: '#tokenomics',
                    text: 'Tokenomics'
                },
                {
                    href: '#team',
                    text: 'Team & Advisors'
                },
                {
                    href: '#partners',
                    text: 'Partners'
                }
            ],
            links: [
                {
                    href: '#',
                    text: 'Whitepaper'
                },
                {
                    href: '#',
                    text: 'Pitch Deck'
                },
            ]
        },
        intro: {
            title: 'Plant Harvest Earn Repeat',
            desc: 'My Little Planet is the first hybrid casual metaverse where you play and earn money!',
            learn: 'Learn More',
            whitepaper: 'Whitepaper'
        },
        overview: {
            title: 'Overview',
            desc: [
                "You own planets to grow various organics. Each planet is better adapted to a specific species, so you can own different planets and grow grass, trees or stones there.",
                "Complete orders and exchanges resources with other players to receive in-game tokens that can be spent on equipment or other upgrades that increase in-game income.",
                "You are the owner of the farm and the planet in general, personally extracting resources by special technologies and this is what differentiates the game from the other similar farming simulators and takes the players' attention.",
                "We not only consider that Play-To-Earn games are fun to play, but we also believe that the gameplay is able to keep your interest for a long time.",
                "We're making a metaverse of hybrid-casual games and the first one is My Little Planet!"
            ]
        },
        socials: [
            {
                icon: 'telegram'
            },
            {
                icon: 'discord'
            },
            {
                icon: 'twitter'
            },
            {
                icon: 'medium'
            },
            {
                icon: 'youtube'
            }
        ],
        roadmap: {
            title: 'Roadmap',
            year_1: '2021',
            year_2: '2022',
            cards: [
                {
                    title: 'Q4',
                    texts: [
                        {
                           title: 'Conceptualization',
                           desc: 'Concept & Research Starting writing GDD + Art'
                        },
                        {
                            title: 'Development ',
                            desc: 'Smart Contract Development'
                        },
                        {
                            title: 'Business',
                            desc: 'Website Launch Whitepaper Release Strategic Partnerships'
                        },
                        {
                            title: 'Community',
                            desc: 'Social Media Launch Gameplay Trailer'
                        }
                    ],
                    isCompleted: true,
                    icon: 'planet_1'
                },
                {
                    title: 'Q1',
                    texts: [
                        {
                           title: 'Development',
                           desc: 'Audit Contract'
                        },
                        {
                            title: 'Business',
                            desc: 'Seed & Private rounds KYC procedures of the team members'
                        },
                        {
                            title: 'Community',
                            desc: 'Community Building + Influencer Marketing Airdrop'
                        },
                        {
                            title: 'Public Sale',
                            desc: 'IDO Launch NFT Marketplace Launch'
                        }
                    ],
                    icon: 'planet_2'
                },
                {
                    title: 'Q2',
                    texts: [
                        {
                           title: 'Game Release',
                           desc: 'Alpha game release (PvE) (Web, Android/iOS App) Staking'
                        },
                        {
                            title: 'Development',
                            desc: ' PvP Mode Development Dual Chain Development (BSC, SOL)'
                        },
                        {
                            title: 'Business',
                            desc: 'New Strategic Partnerships'
                        },
                        {
                            title: 'Marketing & Community',
                            desc: 'Paid User Acquisition Community Events AMA Sessions'
                        },
                        {
                            title: 'Listing',
                            desc: 'CEX<br>Listing'
                        }
                    ],
                    icon: 'planet_3'
                },
                {
                    title: 'Q3',
                    texts: [
                        {
                           title: 'Game Release',
                           desc: 'Public game release (Web, Android, iOS) PvP Mode Public Testing'
                        },
                        {
                            title: 'Development',
                            desc: 'Improving gameplay and bug fixes'
                        },
                        {
                            title: 'Conceptualization',
                            desc: 'Concept and Research for new hybrid casual in metaverse'
                        }
                    ],
                    icon: 'planet_4'
                },
            ]
        },
        tokenomics: {
            title: 'Tokenomics'
        },
        team: {
            title: 'Team',
            desc: 'The majority of the My Little Planet team came from Dorfer Games, a game development studio with more than 50 employees that has developed more than 100 hyper-casual games and cooperates with top market partners. The team has a project with 2 million installs, another one was released and is starting the process of scaling, and a third one is currently in soft launch. Our company has brought together a professional team of top performers to create My Little Planet.',
            items: [
                {
                   photo: 'team/nechaev.jpg',
                   name: 'Aleksandr Nechaev',
                   occ: 'CEO',
                   link: '#',
                   accent: 'violet'
                },
                {
                    photo: 'team/ivanov.jpg',
                    name: 'Semyon Ivanov',
                    occ: 'COO',
                    link: 'http://www.linkedin.com/in/semyon-ivanov',
                    accent: 'orange'
                },
                {
                    photo: 'team/rodionov.jpg',
                    name: 'Alexey Rodionov',
                    occ: 'Lead Unity Developer',
                    link: '#',
                    accent: 'blue'
                },
                {
                    photo: 'team/gorelov.jpg',
                    name: 'Artem Gorelov',
                    occ: 'Lead Game Designer',
                    link: '#',
                    accent: 'green'
                },
                {
                    photo: 'team/perova.jpg',
                    name: 'Alena Perova',
                    occ: 'Lead Artist',
                    link: 'https://www.linkedin.com/in/alena-perova-dofer/',
                    accent: 'turquoise'
                }
            ],
            items_2: [
                 {
                    photo: 'team/yurevich.jpg',
                    name: 'Anna Yurevich',
                    occ: 'HR',
                    link: 'https://www.linkedin.com/in/hanna-yurevich-486b60167/'
                },
                {
                    photo: 'team/bas.jpg',
                    name: 'Oleh Bas',
                    occ: '3D Generalist',
                    link: 'https://www.artstation.com/adobaun'
                },
                {
                    photo: 'team/voronov.jpg',
                    name: 'Vyacheslav Voronov',
                    occ: 'Technical artist',
                    link: 'https://www.linkedin.com/in/viacheslav-voronov-24a8b9228/'
                },
                {
                    photo: 'team/churilov.jpg',
                    name: 'Danyl Churilov',
                    occ: 'Game Designer',
                    link: '#'
                },
                {
                    photo: 'team/polevshchikov.jpg',
                    name: 'Sergey Polevshchikov',
                    occ: 'Unity Developer',
                    link: 'https://www.linkedin.com/in/polevshchikov-sergei/'
                },
                {
                    photo: 'team/kravchenko.jpg',
                    name: 'Oleg Kravchenko',
                    occ: 'Unity Developer',
                    link: '#'
                },
                {
                    photo: 'team/kireev.jpg',
                    name: 'Leonid Kireev',
                    occ: 'Unity Developer',
                    link: 'https://www.linkedin.com/in/leonid-kireev-9282b3222/'
                },
                {
                    photo: 'team/sorokin.jpg',
                    name: 'Danil Sorokin',
                    occ: 'Unity Developer',
                    link: '#'
                },
                {
                    photo: 'team/astapenko.jpg',
                    name: 'Victor Astapenko',
                    occ: 'Unity Developer',
                    link: 'https://www.linkedin.com/in/victor-astapenko'
                },
                {
                    photo: 'team/polukarov.jpg',
                    name: 'Nikanor Polukarov',
                    occ: 'Unity Developer',
                    link: '#'
                },
                {
                    photo: 'team/filippov.jpg',
                    name: 'Ivan Filippov',
                    occ: 'Unity Developer',
                    link: '#'
                }
            ]
        },
        advisors: {
            title: 'Advisors',
            items: [
                {
                   photo: 'advisors/vasilev.jpg',
                   name: 'Sergey Vasilev',
                   occ: 'Investment & Strategy Advisor',
                   desc: 'Ex. Co-Founder at Starta Ventures <br>Launched a successful ICO',
                   accent: 'violet'
                },
                {
                    photo: 'advisors/artemiuk.jpg',
                    name: 'Artem Artemiuk',
                    occ: 'Marketing Advisor',
                    desc: 'ex. Head of Performance Advertising<br> Wargaming<br> Co-Founder at Giveaway (YC W20)<br> Advisor at Paysenger (NFT messenger)',
                    accent: 'orange'
                }
            ]
        },
        partners: {
            title: 'Partners',
            items: [1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]
        },
        footer: {
            slogan: 'My Little Planet',
            menu_1: [
                {
                    href: '#',
                    text: 'About Us'
                },
                {
                    href: '#',
                    text: 'Team'
                },
                {
                    href: '#',
                    text: 'Partners'
                }
            ],
            menu_2: [
                {
                    href: '#',
                    text: 'Roadmap'
                },
                {
                    href: '#',
                    text: 'Tokenomics'
                },
                {
                    href: '#',
                    text: 'Whitepaper'
                },
                {
                    href: '#',
                    text: 'Pitch Deck'
                }
            ],
            form: {
                title: 'Subscribe our Newsletter',
                placeholder: 'Your email',
                submit: 'Subscribe'
            },
            socials: [
                {
                    icon: 'telegram-white'
                },
                {
                    icon: 'discord-white'
                },
                {
                    icon: 'twitter-white'
                },
                {
                    icon: 'youtube-white'
                },
                {
                    icon: 'medium-white'
                }
            ]
        },
        copyright: '&copy; 2020-2021 My Little Planet Limited. <span>All rights reserved</span>',
        policy: 'Be sure to taka a look at our<br> <a class="link" href="#">Terms of Use</a> and <a class="link" href="#">Privacy Policy</a>',
        email: 'support@mlttlplnt.io'
    }