.form
    .form__title= data.footer.form.title 
    form.form__form
        input.form__input(type="email", name="email", placeholder=data.footer.form.placeholder, required)
        button.button.button_color_accent.form__submit(type="submit")= data.footer.form.submit

