header.header
    .container.container--wide 
        .header__wrap
            .header__logo-wrap
                .header__logo
                    a(href="#intro" data-nav).logo
                        img.logo__img(src="./images/logo.png", alt="logo")
            +menu(data.header.menu)(data-nav)
            +menu(data.header.links)
